@import "tailwindcss";

@theme {
  --font-sans: var(--font-inter), system-ui, sans-serif;
}

@utility hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  &::-webkit-scrollbar {
    display: none;
  }
}
